<div class="centered-content">
    <h1>Donate</h1>
    <div id="container">
        <section id="section-text" [innerHTML]="getPageContent()">

        </section>

        <section id="section-donate" class="detail-text">

                <p>Our bank details are:</p>
                <p><strong>Extinction Rebellion Aotearoa NZ</strong></p>
                <p><strong>38-9020-0347029-00</strong></p>
                <p>or donate by credit card below:</p>

            <div id='can-fundraising-area-extinctionrebellionnz-donate' style='width: 100%'><!-- this div is the target for our HTML insertion --></div>
        </section>
        
    </div>
</div>
