#menu-content {
    background-color: #22a73d;
    height: 3.5rem;
    width: 100%;
    margin: 0;
    padding: 0.4rem 0;
    display: flex;
    justify-content: space-between;    
}

.menu-active{
    color: #5dce73 !important; 
}

ul {
    display: none;    
    flex-wrap: wrap;    
    justify-content: flex-end;
    align-items: center;
    font-family: "FucxedcapsRegular";
    font-weight: 400;
    text-transform: uppercase;
    flex-direction: row;
    font-size: 1.5rem;
    margin: 0;
    
    li {
        margin-right: 1.5rem;
        a {
            color: #000000;            
        }
    }

}

img {
    margin-left: 1rem;
    cursor: pointer;
}

#icon-hamburger {
    display: block;
    height: 48px;
    width: 48px;
    margin: .8rem 1rem;    
}

@media screen and (min-width: 870px) {
    ul {
        display: flex;
    }    
    #icon-hamburger {
        display: none;
    }
      
}