<!-- <app-page [slug]="'home-4api'"></app-page> -->

<div class="header-bg-img header-bg-home">
    <div>
        <h3>THE SYSTEM HAS FAILED</h3>
        <h1>REBEL FOR LIFE</h1>
    </div>
    <!-- 
    data-toggle="modal" data-target=".fusion-modal.register" -->
    <!-- 
    <a id="join-button" [routerLink]="[ 'get-involved' ]" ><span class="fusion-button-text">Join the rebellion</span></a> -->
</div>

<section id="section-truth" class="section-black">
    <h2>The Truth</h2>
    <p>
        We are facing an unprecedented global emergency. Life on Papatūānuku, Earth, is in crisis. Scientists agree we
        have entered a period of abrupt climate breakdown, and we are in the midst of a mass extinction of our own
        making. It’s time to act like it.
    </p>
    <p><a href="https://www.scientistsforxr.earth/climate-science-101" target="_new">Understanding the science →</a></p>
</section>

<section id="section-everybody" class="">
    <div>
        <h4>EVERYBODY NOW</h4>
        <p>You are not alone in your grief.</p>
        <p>In love and rage we come together, an international whanau dedicated to preserving life on earth.</p>
        <p><a [routerLink]="[ 'get-involved' ]">Join Us →</a></p>
    </div>
</section>


<section id="section-control" class="">
    <div>
    <h4>TAKE BACK CONTROL</h4>
    <p>From this moment despair ends and tactics begin. Stand with us to take on the biggest threat humanity has ever
        faced. In action we find strength.</p>
    <p><a [routerLink]="[ 'groups' ]">Find your local group →</a></p>
</div>
</section>

<section id="section-mana" class="">
    <div>
        <h4>RESTORE THE MANA OF THE LAND</h4>
        <p>The Government must urgently implement Te Tiriti o Waitangi 1840 (including recognition of He Whakaputanga
            1835
            and active protection of hapū sovereignty) and the United Nations Declaration on the Rights of Indigenous
            Peoples as critical for climate, ecological and social restoration and justice. This means including
            Tangata
            whenua and Māori leadership in all climate and environmental strategies, and centering Mātauranga Maori at
            the
            heart of New Zealand’s response to climate, ecological and social crisis.</p>
        <p class="link"><a [routerLink]="[ 'pages','principles' ]">Principles and Demands Aotearoa →</a></p>
    </div>
</section>