<!-- <app-page [slug]="'home-4api'"></app-page> -->

<section class="header-bg-img header-bg-home">
    <h3>THE SYSTEM HAS FAILED</h3>
    <h1>REBEL FOR LIFE</h1>
<!-- 
    data-toggle="modal" data-target=".fusion-modal.register" -->
<!-- 
    <a id="join-button" [routerLink]="[ 'get-involved' ]" ><span class="fusion-button-text">Join the rebellion</span></a> -->
</section>    

<section id="section-truth" class="section-black">
    <h2>The Truth</h2>
    <p>
        We are facing an unprecedented global emergency. Life on Papatūānuku, Earth, is in crisis. Scientists agree we have entered a period of abrupt climate breakdown, and we are in the midst of a mass extinction of our own making. It’s time to act like it.
    </p>
    <p><a href="https://www.youtube.com/watch?v=LDWdH9YlfJY" target="_new">Watch the Extinction Rebellion Talk →</a></p>
</section>

<section id="section-everybody" class="">
    <h4>EVERYBODY NOW</h4>
    <p>You are not alone in your grief.</p>
    <p>In love and rage we come together, an international whanau 
    <p>dedicated to preserving life on earth.</p>        
    <p><a  [routerLink]="[ 'get-involved' ]" >Join Us →</a></p>
</section>


<section id="section-control" class="">
    <h4>TAKE BACK CONTROL</h4>
    <p>From this moment despair ends and tactics begin. Stand with us to take on the biggest threat humanity has ever faced. In action we find strength.</p>        
    <p><a [routerLink]="[ 'groups' ]">Find your local group →</a></p>
</section>