/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Define the container */
  .container {
    display: flex;
    min-height: 100px;
    background-color: #f8f8f8;
    border-radius: 0.8rem;
    margin-bottom: 0.5rem;
    cursor: pointer;    
    overflow: hidden; /* Hide overflow from the image */
  }

  .container:hover {
    background-color: #c9ddc5;
  }
  
  /* Style for the text on the left */
  .text {
    flex: 1; /* Takes the available space */
    padding: 10px; /* Add some padding for spacing */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align content to the top */
  }
  
  .text h1 {
    margin: 0; /* Remove default margin for h1 */
  }
  
  /* Style for the image on the right */
  .image {
    max-width: 400px; /* Maximum width for the image */
    max-height: 320px;
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
    
  }
  
  .image img {
    max-height: 100%; /* Ensure the image is not higher than the container */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image fits within the container */
  }