

body,html {
    color: #000000;
    background-color: #f8f8f8;
    margin: 0;
    font-family: "CrimsonRegular";
    font-size: 1.15rem;
}

html {
    min-height: 100%;
}

section {
    max-width: 1600px;
    padding: 1.2rem;
}

@font-face {
    font-family: 'FucxedcapsRegular';
    src: url('./assets/fonts/FUCXEDCAPS-v4.ttf');
}

@font-face {
    font-family: 'CrimsonRegular';
    src: url('./assets/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('./assets/fonts/RobotoCondensed-VariableFont_wght.ttf');
}

ul.menu {
    list-style: none;   
    padding: 0;  
    margin: 0;   
    li {    
        a {
            text-decoration: none;
        }  
    }    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "FucxedcapsRegular";
    font-weight: 600;  
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.header-bg-img {
    width: 100%;
    max-width: default;
    min-height: 300px;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 1.5rem;
    background-repeat: no-repeat;
    background-position: middle top;  
    background-size: 100% auto;  

    h1 {

        margin: 0 auto;
    }

}

.header-bg-img div {
    max-width: 860px;
    margin: 1.5rem auto;
}

.centered-content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 1rem;
}

.header-bg-who-we-are {
    background-image: url("assets/images/header-bgs/bowen-street.jpg");
}

.header-bg-local-groups {
    background-image: url("assets/images/header-bgs/protest-wellington.jpg");
    min-height: 120px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 3rem;
}

.header-bg-why-rebel {
    background-image: url("assets/images/header-bgs/pink-car.jpg");
    > div > div {
        background-color: rgba(0,0,0,.6);
        padding: 0.1rem 0.5rem;
    }
}

time {
    font-weight: 500;
    font-size: 0.9rem;
    &.date-view-item {
        font-size: 1rem
    }
    
}

.post-summary {
    font-size: 0.95rem;
}

img {
    max-width: 100%;
    height: auto;
  }

a {
    color: #22a73d;
    &:hover {
        color: #1ece41;
    }
}